#wrapper{
    width: 50%;
    margin:0 auto;
}

.true{
    background:green;
}

.false{
    background: red;
}

form > div{
    position:relative;
    width : 100%;
}

#quant{
    position:absolute;
    right: 100%;
    width: 100000px;
    overflow: wrap;
    text-align:right;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top:2px;
}

#formula{
    width:100%;
}